[Desktop Entry]
Version=0.3.3
Name=CNC-Qt
Comment=CNC controller
GenericName=CNC-Qt
TryExec=cnc-qt
Exec=cnc-qt
Terminal=false
Icon=cnc-qt.png
Type=Application
Categories=Utility;Qt;

